<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="robots" content="index, about, login_signup">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="Project AO" content="Project AO's the Vanguard Online Portal for Adult-themed Games, Game Developers, Fans, and Users 21+" />

		<title>Project AO - { pageName }</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> <!-- Used for index.html poll icons-->
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" /> 
		<link rel="stylesheet" href="{{ url_for('static',filename='css/styling.css') }}" />

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
		<script src="{{ url_for('static',filename='js/allscripts.js') }}"></script>
	</head>

	<body>
		<section>
			<div>
				<h2>Name Your Poison</h2>
				<ul>
					<li><a href="#">Genre</a></li>
					<li><a href="#">Genre</a></li>
					<li><a href="#">Genre</a></li>
					<li><a href="#">Genre</a></li>
					<li><a href="#">Genre</a></li>
					<li><a href="#">Genre</a></li>
					<li><a href="#">Genre</a></li>
					<li><a href="#">Genre</a></li>
					<li><a href="#">Genre</a></li>
					<li><a href="#">Genre</a></li>
					<li><a href="#">Genre</a></li>
					<li><a href="#">Genre</a></li>
				</ul>
			</div>

			<h3>Genre</h3>
			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>
			
			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>

			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>

			<h3>Genre</h3>
			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>
			
			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>

			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>

			<h3>Genre</h3>
			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>
			
			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>

			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>

			<h3>Genre</h3>
			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>
			
			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>

			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>

			<h3>Genre</h3>
			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>
			
			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>

			<div>
				<img src="images/placeholder.png" alt="Placeholder" />
				<span>Game name: </span> &nbsp; &nbsp; 
				<span>Platforms: </span>
			</div>
		</section>
		
		<section>
			<div>
				<p>Got a genre in mind not listed? Suggest it to us on the contact page.</p>
			</div>
		</section>
	</body>
</html>