<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="index, about, login_signup">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Project AO" content="Project AO's the Vanguard Online Portal for Adult-themed Games, Game Developers, Fans, and Users 21+" />

    <title>Project AO - { pageName }</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> <!-- Used for index.html poll icons-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" /> 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styling.css') }}" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/pricing.css') }}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/allscripts.js') }}"></script>
    <!-- link to the SqPaymentForm library -->
    <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
    </script>
  </head>
  
  <body>
    <h2 style="text-align:center">Responsive Pricing Tables</h2>
    <p style="text-align:center">Resize the browser window to see the effect.</p>

    <div class="columns">
      <ul class="price">
        <li class="header">Basic</li>
        <li class="grey">$ 9.99 / year</li>
        <li>10GB Storage</li>
        <li>10 Emails</li>
        <li>10 Domains</li>
        <li>1GB Bandwidth</li>
        <li class="grey"><a href="#" class="button">Sign Up</a></li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="header" style="background-color:#4CAF50">Pro</li>
        <li class="grey">$ 24.99 / year</li>
        <li>25GB Storage</li>
        <li>25 Emails</li>
        <li>25 Domains</li>
        <li>2GB Bandwidth</li>
        <li class="grey"><a href="#" class="button">Sign Up</a></li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="header">Premium</li>
        <li class="grey">$ 49.99 / year</li>
        <li>50GB Storage</li>
        <li>50 Emails</li>
        <li>50 Domains</li>
        <li>5GB Bandwidth</li>
        <li class="grey"><a href="#" class="button">Sign Up</a></li>
      </ul>
    </div>

  </body>
</html>
